<!-- <a class="card" rel="noopener" href='/andamento'>

    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg"
      width="24" height="24" viewBox="0 0 24 24">
      <path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"/>
    </svg>

    <span>Andamento giornaliero</span>

  </a> -->
<div class="content" role="main">

  <div class="content" role="main">
    <h1 class="titoloHome">Andamento Covid 19</h1>
    <img src="assets/images/corona19.jpg" alt="Coronavirus - Covid 19">
  </div>


  <div class="container">
    <h3>Ultimi dati (sintesi):</h3>
    <div class="row">
      <div class="col-sm">
        <ul class="list-group">
          <li class="list-group-item">Data aggiornamento: <span class="datiSintesi">{{dataAggiornamentoLatest}}</span></li>
          <li class="list-group-item">Ricoveri con sintomi: <span class="datiSintesi">{{ricoveratiConSintomiLatest}}</span></li>
          <li class="list-group-item">Terapia intensiva: <span class="datiSintesi">{{terapiaIntensivaLatest}}</span></li>
          <li class="list-group-item">Ospedalizzati: <span class="datiSintesi">{{totaleOspedalizzatiLatest}}</span></li>
        </ul>
      </div>
      <div class="col-sm">
        <ul class="list-group">
          <li class="list-group-item">Isolamento domiciliare: <span class="datiSintesi">{{isolamentoDomiciliareLatest}}</span></li>
          <li class="list-group-item">Totale positivi: <span class="datiSintesi">{{totalePositiviLatest}}</span></li>
          <li class="list-group-item">Variazioni positivi: <span class="datiSintesi">{{variazioneTotaliPositiviLatest}}</span></li>
          <li class="list-group-item">Nuovi positivi: <span class="datiSintesi">{{nuoviPositiviLatest}}</span></li>
        </ul>
      </div>
      <div class="col-sm">
        <ul class="list-group">
          <li class="list-group-item">Dimessi/guariti: <span class="datiSintesi">{{dimessiGuaritiLatest}}</span></li>
          <li class="list-group-item">Deceduti: <span class="datiSintesi">{{decedutiLatest}}</span></li>
          <li class="list-group-item">Tamponi: <span class="datiSintesi">{{tamponiLatest}}</span></li>
          <li class="list-group-item">Totale casi: <span class="datiSintesi">{{totaleCasiLatest}}</span></li>
        </ul>
      </div>
    </div>
  </div>
  <h3>Grafici nazionali</h3>
  <div class="container_grafici">
    <label class="titolo_grafico">Num. tamponi - Num. attualmente positivi</label>
    <canvas baseChart id="generale1" [datasets]="lineChartDataTamponiPositivi"
      [labels]="lineChartLabelsDataTamponiPositivi" [options]="lineChartOptionsDataTamponiPositivi"
      [colors]="lineChartColorsDataTamponiPositivi" [legend]="lineChartLegendDataTamponiPositivi"
      [chartType]="lineChartTypeDataTamponiPositivi" [plugins]="lineChartPluginsDataTamponiPositivi">
    </canvas>
  </div>

  <div class="container_grafici">
    <label class="titolo_grafico">Num. terapia intensiva - Num. deceduti</label>
    <canvas baseChart id="generale2" [datasets]="lineChartDataTerapiaDeceduti" [labels]="lineChartLabelsTerapiaDeceduti"
      [options]="lineChartOptionsTerapiaDeceduti" [colors]="lineChartColorsTerapiaDeceduti"
      [legend]="lineChartLegendTerapiaDeceduti" [chartType]="lineChartTypeTerapiaDeceduti"
      [plugins]="lineChartPluginsTerapiaDeceduti">
    </canvas>
  </div>

  <div class="container_grafici">
    <label class="titolo_grafico">Variazione positivi - Nuovi positivi</label>
    <canvas baseChart id="generale3" [datasets]="lineChartDataTotPositiviNuovi"
      [labels]="lineChartLabelsTotPositiviNuovi" [options]="lineChartOptionsTotPositiviNuovi"
      [colors]="lineChartColorsTotPositiviNuovi" [legend]="lineChartLegendTotPositiviNuovi"
      [chartType]="lineChartTypeTotPositiviNuovi" [plugins]="lineChartPluginsTotPositiviNuovi">
    </canvas>
  </div>

</div>
