<!-- <a class="card" rel="noopener" href='/andamento'>

    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg"
      width="24" height="24" viewBox="0 0 24 24">
      <path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"/>
    </svg>

    <span>Andamento giornaliero</span>

  </a> -->
<div class="content" role="main">
  <h4>Data aggiornamento:<span id="dataAgg"></span></h4>
  <div class="noteAlt">
    <p class="infoP">I dati vengono caricati dai repository della <a href="http://www.protezionecivile.gov.it/"
        target="_blank">Protezione civile</a>, disponibili <a href="https://github.com/pcm-dpc/COVID-19"
        target="_blank">qui.</a></p>
    <p class="infoP">Alcuni grafici sono alimentati grazie alle elaborazioni e il contributo di un mio stimato collega
      (ecco il suo profilo <a href="https://www.linkedin.com/in/vito-fanelli-71a48873/" target="_blank">Linkedin</a>)
    </p>
    <p class="infoP">L'aggiornamento avviene quotidianamente, appena i nuovi dati vengono caricati sui vari repository.
    </p>
  </div>

    <h3>Grafici nazionali</h3>
    <div class="container_grafici">
      <label class="titolo_grafico">Num. tamponi - Num. attualmente positivi</label>
      <canvas id="generale"></canvas>
    </div>

    <div class="container_grafici">
      <label class="titolo_grafico">Num. terapia intensiva - Num. deceduti</label>
      <canvas id="generale2"></canvas>
    </div>

    <div class="container_grafici">
      <label class="titolo_grafico">Totale positivi - Nuovi positivi</label>
      <canvas id="generale3"></canvas>
    </div>

    <div class="container_grafici">
      <label class="titolo_grafico">Andamento deceduti</label>
      <canvas id="deceduti"></canvas>
    </div>

    <a [routerLink]="['/basilicata']">Basilicata</a>

</div>
