<div class="content" role="main" id="mainAn">
  <h3>Report Istituto Superiore Sanita'</h3>
  <div class="noteAlt">
    <p class="infoP">In questa pagina si trova un estratto dei report periodici dell'ISS</p>
    <p>I report sono disponibili al seguente collegamento:
      <a href="{{pathFile}}" target="_blank" title='Report esteso pdf'>
        Epicentro ISS - "Report esteso"</a> (in formato PDF)
    </p>
    <p>Open Data (xlsx):
      <a href="{{pathOpenData}}" target="_blank" title='Open Data (xlsx)'>
        Epicentro ISS - "Open Data"</a> (in formato xlsx)
    </p>
  </div>

  <h3>Dati per classi di eta'</h3>
  <h4>Aggiornamento dati: {{dataAggiornamento}}</h4>
  <h5>Pubblicato il {{dataPubblicazione}}</h5>
  <div class="container_grafici">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Classe eta'</th>
            <th scope="col">Num. casi</th>
            <th scope="col">% casi</th>
            <th scope="col">Num. deceduti</th>
            <th scope="col">% deceduti</th>
            <th scope="col">Letalita'</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rapporto of rapporti">
            <td>{{rapporto.classeEta}}</td>
            <td>{{rapporto.num_casi | Tredigits}}</td>
            <td>{{rapporto.perc_casi}}</td>
            <td>{{rapporto.num_deceduti | Tredigits }}</td>
            <td>{{rapporto.perc_deceduti}}</td>
            <td>{{rapporto.letalita}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="container_grafici">
    <div class="percentuale">
      <h5>Fascia 0-49</h5>
      <p>Tot. casi: <span id="positiviTamponi" class="bold">2.688.894</span></p>
      <p>Tot deceduti: <span id="decedutiSuCasi" class="bold">1596</span></p>
      <p>Percentuale: <span id="guaritiSuCasi" class="bold">0,06%</span></p>
    </div>

    <div class="totali">
      <h5>Fascia 50-90+</h5>
      <p>Tot. casi: <span id="positiviTamponi" class="bold">2.000.283</span></p>
      <p>Tot deceduti: <span id="decedutiSuCasi" class="bold">128.663</span></p>
      <p>Percentuale: <span id="guaritiSuCasi" class="bold">6,43%</span></p>
    </div>

    <div class="percentuale">
      <h5>Riepilogo</h5>
      <p>Tot. casi: <span id="positiviTamponi" class="bold">4.689.177</span></p>
      <p>Tot deceduti: <span id="decedutiSuCasi" class="bold">130.259</span></p>
      <p>% deceduti su positivi: <span id="guaritiSuCasi" class="bold">2,78%</span></p>
    </div>

    <br>


    <div class="noteAlt">
      <h3>Report analisi decessi</h3>
      <p>Clicca
        <a href="{{pathFileAnalisiDecessi}}" target="_blank" title="Infografica analisi decessi">qui</a>
        per scaricare l'infografica in formato PDF sull'analisi dei decessi
      </p>

      <h4>Di seguito un estratto del report sui decessi:</h4>
      <blockquote>
        <p id="cit">
           Decessi di età inferiore ai 50 anni
        </p>
        <br>

        <ejs-accordion>
          <e-accordionitems>
            <e-accordionitem expanded='true'>
              <ng-template #header>
                <div>21 Luglio 2021</div>
              </ng-template>
              <ng-template #content>
                <div> Al 21 luglio 2021 sono 1.479, dei 127.044 (1,2%), i pazienti deceduti SARS-CoV-2 positivi di età
                  inferiore ai 50 anni. In particolare, 355 di questi avevano meno di 40 anni (221 uomini e 134
                  donne con età compresa tra 0 e 39 anni). Di 105 pazienti di età inferiore a 40 anni non sono
                  disponibili informazioni cliniche; degli altri, 206 presentavano gravi patologie preesistenti
                  (patologie cardiovascolari, renali, psichiatriche, diabete, obesità) e 44 non avevano patologie
                  di rilievo diagnosticate
                </div>
              </ng-template>
            </e-accordionitem>
            <e-accordionitem>
              <ng-template #header>
                <div>28 Aprile 2021</div>
              </ng-template>
              <ng-template #content>
                <div> Al 28 aprile 2021 sono 1312, dei 118.592 (1,1%), i pazienti deceduti SARS-CoV-2 positivi
                  di età inferiore ai 50 anni. In particolare, 296 di questi avevano meno di 40 anni (184
                  uomini e 112 donne con età compresa tra 0 e 39 anni). Di 81 pazienti di età inferiore a
                  40 anni non sono disponibili informazioni cliniche; degli altri pazienti, 174 presentavano
                  gravi patologie preesistenti (patologie cardiovascolari, renali, psichiatriche, diabete,
                  obesità) e 41 non avevano diagnosticate patologie di rilievo.</div>
              </ng-template>
            </e-accordionitem>
          </e-accordionitems>
        </ejs-accordion>
      </blockquote>

      <ejs-accordion>
        <e-accordionitems>
          
          <e-accordionitem expanded='true'>
            <ng-template #header>
              <div>01 Ottobre 2021</div>
            </ng-template>
            <ng-template #content>
              <p>
                <img src="assets/images/decessi_0_19_01Ottobre2021.JPG">
              </p>
            </ng-template>
          </e-accordionitem>

          <e-accordionitem>
            <ng-template #header>
              <div>17 Settembre 2021</div>
            </ng-template>
            <ng-template #content>
              <p>
                <img src="assets/images/decessi_0_19_17Settembre2021.JPG">
              </p>
            </ng-template>
          </e-accordionitem>

          <e-accordionitem>
            <ng-template #header>
              <div>10 Settembre 2021</div>
            </ng-template>
            <ng-template #content>
              <p>
                <img src="assets/images/decessi_0_19_10Settembre2021.JPG">
              </p>
            </ng-template>
          </e-accordionitem>
          <e-accordionitem>
            <ng-template #header>
              <div>01 Settembre 2021</div>
            </ng-template>
            <ng-template #content>
              <p>
                <img src="assets/images/decessi_0_19_01Settembre2021.JPG">
              </p>
            </ng-template>
          </e-accordionitem>
          <e-accordionitem>
            <ng-template #header>
              <div>13 Agosto 2021</div>
            </ng-template>
            <ng-template #content>
              <p>
                <img src="assets/images/decessi_0_19_13Agosto2021.JPG">
              </p>
            </ng-template>
          </e-accordionitem>
          <e-accordionitem>
            <ng-template #header>
              <div>09 Giugno 2021</div>
            </ng-template>
            <ng-template #content>
              <p>
                <img src="assets/images/decessi_0_19_09Giugno2021.JPG">
              </p>
            </ng-template>
          </e-accordionitem>
          <e-accordionitem>
            <ng-template #header>
              <div>28 Aprile 2021</div>
            </ng-template>
            <ng-template #content>
              <p>
                <img src="assets/images/decessi_0_19_28Aprile2021.JPG">
              </p>
            </ng-template>
          </e-accordionitem>
        </e-accordionitems>
      </ejs-accordion>
    </div>

    <div class="percentuale">

      <img src="assets/images/01Ottobre2021.JPG">
    </div>
  </div>

</div>