<div class="content" role="main">
  <h3>Info</h3>
  <div class="noteAlt">
    <p class="infoP">In questa pagina si trova un estratto dei report periodici dell'ISS</p>
    <p>I report sono disponibili al seguente collegamento:
      <a href="{{pathFile}}" target="_blank" title='Report esteso pdf'>
        Epicentro ISS - "Report esteso"</a> (in formato PDF)
    </p>
  </div>

  <h3>Dati per classi di eta'</h3>
  <h4>Aggiornamento dati: {{dataAggiornamento}}</h4>
  <h5>Pubblicato il {{dataPubblicazione}}</h5>
  <div class="container_grafici">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Classe eta'</th>
            <th scope="col">Num. casi</th>
            <th scope="col">% casi</th>
            <th scope="col">Num. deceduti</th>
            <th scope="col">% deceduti</th>
            <th scope="col">Letalita'</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rapporto of rapporti">
            <td>{{rapporto.classeEta}}</td>
            <td>{{rapporto.num_casi | Tredigits}}</td>
            <td>{{rapporto.perc_casi}}</td>
            <td>{{rapporto.num_deceduti | Tredigits }}</td>
            <td>{{rapporto.perc_deceduti}}</td>
            <td>{{rapporto.letalita}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="container_grafici">
    <div class="percentuale">
      <h5>Fascia 0-49</h5>
      <p>Tot. casi: <span id="positiviTamponi" class="bold">147.966 (+24.544)</span></p>
      <p>Tot deceduti: <span id="decedutiSuCasi" class="bold">409 (+1)</span></p>
      <p>Percentuale: <span id="guaritiSuCasi" class="bold">0%</span></p>
    </div>

    <div class="totali">
      <h5>Fascia 50-90+</h5>
      <p>Tot. casi: <span id="positiviTamponi" class="bold">210.510 (+11.569)</span></p>
      <p>Tot deceduti: <span id="decedutiSuCasi" class="bold">35.824 (+174)</span></p>
      <p>Percentuale: <span id="guaritiSuCasi" class="bold">17%</span></p>
    </div>


    <div class="percentuale">
      <h5>Report analisi decessi</h5>
      <p>Clicca
        <a href="{{pathFileAnalisiDecessi}}" target="_blank" title="Infografica analisi decessi">qui</a>
        per scaricare l'infografica in formato PDF sull'analisi dei decessi
      </p>
    </div>



  </div>



</div>