/* You can add global styles to this file, and also import other style files */

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

a,
a:visited,
a:hover {
  color: rgb(0, 60, 255);
  text-decoration: none;
}

a:hover {
  color: rgb(0, 60, 255);
}

body {
  background-color: #e8e8e8;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #000;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar #twitter-logo {
  height: 35px;
  margin: 0 13px;
}

.toolbar #twitter-logo:hover {
  opacity: 0.8;
}

.toolbar #linkedin-logo {
  height: 35px;
  margin: 0 13px;
}

.toolbar #linkedin-logo:hover {
  opacity: 0.8;
}

.toolbar #admin-logo {
  height: 35px;
  margin: 0 13px;
}

.toolbar #admin-logo:hover {
  opacity: 0.8;
}

.content {
  display: flex;
  margin: 65px auto 32px;
  padding: 0 30px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
}

svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}

.card svg.material-icons path {
  fill: #888;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 40px;
  width: 200px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card.card-small {
  height: 16px;
  width: 168px;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(black, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 60px;
}

.circle-link {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin: 8px;
  background-color: white;
  border: 1px solid #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 1s ease-out;
}

.circle-link:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}

#titolo {
  padding: 5px 5px 5px 10px;
}

.titolo_grafico {
  padding-left: 1%;
  font-weight: bold;
}

/* classe temporanea per il grafico*/
.container_grafici {
  width: 100%;
  height: 100%;
  padding: 5% 5px 5px 5px;
  background-color: #fafafa;
}

.container_grafici_basilicata {
  width: 100%;
  height: 100%;
  padding: 5% 5px 5px 5px;
  background-color: #000000;
}

#grafici {
  width: 100%;
  height: 100%;
  padding: 20px 5px 5px 10px;
}

.noteAlt {
  background-color: #f0f7fb;
  background-image: url(assets/images/css-box-icon-3.png);
  background-position: 9px 50%;
  background-repeat: no-repeat;
  border-left: solid 4px #3498db;
  line-height: 18px;
  overflow: hidden;
  padding: 15px 60px;
  margin-bottom: 30px;
}

.percentuale {
  background-color: #f0f7fb;
  border-left: solid 4px #00ff0dc4;
  line-height: 15px;
  overflow: hidden;
  padding: 10px 15px;
  margin: 10px 0 0 0;
}

.totali {
  background-color: #f0f7fb;
  border-left: solid 4px #0066ffc4;
  line-height: 15px;
  overflow: hidden;
  padding: 10px 15px;
  margin: 10px 0px 15px 0;
}

.bold {
  font-weight: bold;
}

.infoP {
  padding: 5px 0 0 5px;
  border-bottom: 1px solid #e1e1e1;
}

#asterisco {
  padding: 2px 0 0 0;
  font-style: oblique;
  font-size: 11px;
  margin: 10px 0px 0px 15px;
}

#asterisco_basilicata {
  padding: 2px 0 0 0;
  font-style: oblique;
  font-size: 12px;
  margin: 10px 0px 0px 15px;
  color: white;
}

.datiSintesi {
  font-size: 13px;
  margin: 2px 2px 2px 2px;
  font-weight: bold;
}

.imgMenu {
  padding: 0px 10px 0px 5px;
}

.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

.icone-nav {
  padding: 0 0 0 0;
}


#navId-p {
  padding: 0px 5px 12px 3%;
}

.nav-link-p {
  color: white !important;
}

.nav-link-p:hover{
  color: rgb(177, 177, 177) !important;
}

.nav-link-p {
  padding: 5px 5px 5px 0px;
  color: white !important;
}

.nav-link-p:visited{
  color:white !important;
}

.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(http://smallenvelop.com/wp-content/uploads/2014/08/Preloader_11.gif) center no-repeat #fff;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

#pulsantieraLogin {
  padding: 0px 0px 20px 0px;
}

#pulsanteClear {
  margin: 0px 0px 0px 10px;
}
