<div class="content" role="main">
  <h4>Info</h4>
  <div class="noteAlt">
    <p class="infoP">I dati vengono caricati dai repository della <a href="http://www.protezionecivile.gov.it/"
        target="_blank">Protezione civile</a>, disponibili <a href="https://github.com/pcm-dpc/COVID-19"
        target="_blank">qui.</a></p>
    <p class="infoP">Alcuni grafici sono alimentati grazie alle elaborazioni e il contributo di un mio stimato collega
      (ecco il suo profilo <a href="https://www.linkedin.com/in/vito-fanelli-71a48873/" target="_blank">Linkedin</a>)
    </p>
    <p class="infoP">L'aggiornamento avviene quotidianamente, appena i nuovi dati vengono caricati sui vari repository.
    </p>
    <p class="infoP">
      Utilizzando dispositivi mobili (smartphone) si consiglia la visualizzazione orientata in orizzontale.
    </p>
  </div>
</div>
