<div class="content" role="main">
  <h2>Info e links</h2>
  <div class="noteAlt">
    <h4 class="h4bold">Info:</h4>
    <p class="infoP">I dati vengono caricati dai repository della <a href="http://www.protezionecivile.gov.it/"
        target="_blank">Protezione civile</a>, disponibili <a href="https://github.com/pcm-dpc/COVID-19"
        target="_blank">qui.</a>
    </p>
    <p class="infoP">L'aggiornamento avviene quotidianamente, appena i nuovi dati vengono caricati sui vari repository.
    </p>
    <p class="infoP">
      Utilizzando dispositivi mobili (smartphone) si consiglia la visualizzazione orientata in orizzontale.
    </p>
    <h4 class="h4bold">Links esterni:</h4>
    <p class="infoP">
      <a href="https://www.worldometers.info/coronavirus/" target="_blank">Worldometers - Coronavirus</a>
    </p>
    <p class="infoP">
      <a href="https://covid19.who.int/" target="_blank">WHO Coronavirus (COVID-19) Dashboard</a>
    </p>
    <p class="infoP">
      <a href="https://www.epicentro.iss.it/coronavirus/" target="_blank">ISS - Epicentro Coronavirus</a>
    </p>
  </div>
</div>
