
<h4>Tabelle distribuzione casi e decessi nella popolazione 0-19 anni</h4>

<ejs-accordion>
    <e-accordionitems>
      <e-accordionitem *ngFor="let record of datiAccordion">
        <ng-template #header>
          <div>{{record.header}}</div>
        </ng-template>
        <ng-template #content>
          <p>
            <img src="{{record.path_image}}" alt="{{record.header}}" title="{{record.header}}">
          </p>
        </ng-template>
      </e-accordionitem>
    </e-accordionitems>
  </ejs-accordion>
